<!-- Testimonials -->
<section id="content" class="g-bg-secondary">
  <div class="container g-py-100">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="text-center">
          <span class="g-color-gray-dark-v2 g-font-size-90 g-pos-abs g-top-minus-40">
              &#8220;
            </span>
        </div>

        <div class="js-carousel text-center g-pt-60" data-infinite="true" data-autoplay="true" data-fade="true" data-speed="5000">
          <div class="js-slide">
            <blockquote class="lead g-color-black g-font-size-22 g-line-height-2 mb-4">Programs must be written for people to read, and only incidentally for machines to execute.</blockquote>
            <span class="d-block g-color-black g-font-size-17 mb-4">Confucius Ramirez, Designer</span>
            <img class="d-inline-block g-width-60 g-height-60 g-brd-around g-brd-3 g-brd-white rounded-circle" src="/vendor/assets/img-temp/img4.jpg" alt="Image Description">
          </div>

          <div class="js-slide">
            <blockquote class="lead g-color-black g-font-size-22 g-line-height-2 mb-4">Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.</blockquote>
            <span class="d-block g-color-black g-font-size-17 mb-4">Buddha Anderson, Developer</span>
            <img class="d-inline-block g-width-60 g-height-60 g-brd-around g-brd-3 g-brd-white rounded-circle" src="/vendor/assets/img-temp/img5.jpg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials -->